@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff; 
  color: #000; 
  min-height: 100vh;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}